BETTER_AUTH_SECRET= # Type in terminal "openssl rand -base64 32"
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
DATABASE_URL= #https://better-auth.com/docs/adapters/drizzle

#Better Auth Social Provider  https://better-auth.com/docs/authentication/github
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
RESEND_API_KEY=
RESEND_FROM_EMAIL=
